body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: red;
}
.first_part{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
section{
    height: 800px;
    
}
.side_1{
    float: left;
    width: 30%;
    margin-left: 20%;
    margin-top: 15%;
    
}
.side_2 img {
    float: left;
    margin-left: 1%;
    height: 492px;
    margin-top: 140px;
}

.hire-button{
    background-color: lightpink;
    text-decoration: none;
    padding: 2%;
    border-radius: 10px;
    color: black;  
}
.second_part {
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    margin-top: -46px;
}

.side_3{
    width: 30%;
    margin-left: 55%;
    padding-top: 11%;
    
    
}
.side_4 img {
    float: left;
    margin-left: 11%;
    height: 600px;
    margin-top: -286px;
}
.hire-button{
    background-color: lightpink;
    text-decoration: none;
    padding: 2%;
    border-radius: 10px;
    color: black; 
}
.Latest_work {
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1134px 652px;
    height: 500px;
    width: 1406px;
    margin-top: 27px;
}
    
.side_5 p{
    color:black;
    font-weight: 800;
    text-align: center;
    font-size: 30px;
}

.image_section img {
    float: left;
    width: 350px;
    margin-left: 5px;
    
}
.image_margin{
    margin-left: 10%;
    margin-top: 100px;
}
.fotter_part{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    
    background-size: 1134px 652px;
    height: 500px;
    width: 1406px;
    margin-top: 27px;
}
.side_6 {
    text-align: center;
    font-weight: 700;
    padding: 28px;
}
.box_part {
    height: 125px;
    width: 570px;
    text-align: center;
    border-radius: 10px;
    margin-left: 424px;
    font-size: 30px;
    background-image: linear-gradient(45deg, purple,red);
}
.last_part p{
    text-align: center;
}



